@import 'global'; 
.addPostContainer {
  width: 33%;
  padding: 50px 0px 100px;
  background-color: $primary_color;
  border-radius: 10px;
  margin: 50px auto;
}
.formTitles {
  p {
    color: $secondary_color;
    font-size: 15px;
  }
  h3 {
    color: $secondary_color;
    font-size: 30px;
  }
  #point {
    color: $primary_color;
    font-size: larger;
  }
}
.form {
  .form_elem {
    margin: 7px !important;
    padding: 6px 10px !important;
    border-radius: 7px !important;
    border: none !important;
    outline: none !important;
    font-size: small !important;
  }
  button {
    background: $secondary_color !important;
  }
}

@media screen and (max-width:767px) {
  .addPostContainer {
    width: 80% !important;
  }
}
